body {
  background-color: #eee;
}
h1 {
  color: #555;
  font-weight: bold;
  font-style: italic;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}
